<h1>Listing progress_changes</h1>

<table>
  <tr>
    <th>Progress</th>
    <th>Entity</th>
    <th>Table</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @progress_changes.each do |progress_change| %>
  <tr>
    <td><%= progress_change.progress %></td>
    <td><%= progress_change.entity_id %></td>
    <td><%= progress_change.table_id %></td>
    <td><%= link_to 'Show', progress_change %></td>
    <td><%= link_to 'Edit', edit_progress_change_path(progress_change) %></td>
    <td><%= link_to 'Destroy', progress_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Progress change', new_progress_change_path %>
