<p id="notice"><%= notice %></p>

<p>
  <b>Progress:</b>
  <%= @progress_change.progress %>
</p>

<p>
  <b>Entity:</b>
  <%= @progress_change.entity_id %>
</p>

<p>
  <b>Table:</b>
  <%= @progress_change.table_id %>
</p>


<%= link_to 'Edit', edit_progress_change_path(@progress_change) %> |
<%= link_to 'Back', progress_changes_path %>
