<h1>Listing works</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Progress</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.name %></td>
    <td><%= work.progress %></td>
    <td><%= work.student_id %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
