<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @work.name %>
</p>

<p>
  <b>Progress:</b>
  <%= @work.progress %>
</p>

<p>
  <b>Student:</b>
  <%= @work.student_id %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
