<h1>Listing teachers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Department</th>
    <th>Degree</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user_id %></td>
    <td><%= teacher.department_id %></td>
    <td><%= teacher.degree %></td>
    <td><%= teacher.title %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
