<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @teacher.user_id %>
</p>

<p>
  <b>Department:</b>
  <%= @teacher.department_id %>
</p>

<p>
  <b>Degree:</b>
  <%= @teacher.degree %>
</p>

<p>
  <b>Title:</b>
  <%= @teacher.title %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
